@page "/indices"
@using lastic_view.Models
@using lastic_view.Services
@inject IndexService _indexService

<h3>Indices</h3>
@if (_indices == null)
{
    <div class="row">
        <div class="col-12">
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px"/>
        </div>
    </div>
}
else
{
    <RadzenDataGrid PageSize="20" AllowPaging="true"
                    AllowSorting="true" Data="@_indices"
                    FilterMode="FilterMode.Simple" AllowFiltering="true"
                    TItem="Models.Index" AllowColumnResize="true">
        <Columns>
            <RadzenDataGridColumn TItem="Models.Index" Property="IndexName" Title="Index Name" Width="150px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="Health" Title="Health" Width="40px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="Status" Title="Status" Width="40px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="Primary" Title="Primary" Width="40px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="Replicas" Title="Replicas" Width="40px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="DocumentCount" Title="Documents Count" Width="60px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="DocumentDeleted" Title="Documents Deleted" Width="60px"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="PrimaryStoreSize" Title="Primary Store Size" Width="50px" SortProperty="IntSize"/>
            <RadzenDataGridColumn TItem="Models.Index" Property="StoreSize" Title="Store Size" Width="50px" SortProperty="IntSize"/>
        </Columns>
    </RadzenDataGrid>
}

@code {
    private Models.Index[] _indices;

    protected override async void OnInitialized()
    {
        _indices = await _indexService.GetIndexes();
        StateHasChanged();
    }
}